* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-color: #36454F;
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: white;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background: none;
  background-color: #EEE;
  border-radius: 8px;
  color: black;
  font-size: 20px;
  font-weight: 300px;
  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0px 0px 8px 3px rgb(130, 130, 255);
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result {
  width: 33.333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.results .result img {
  display: block;
  width: 100%;
}

.results .result h3 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background-color: #445565;
  flex: 1 1 100%;
}

.results .result:hover h3 {
  background-color: #FFF;
  color: #223345;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #36454F;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;
  color: white;
}

.popup content h2 {
  font-size: 28px;
  font-weight: 600px;
}

.pop .content .rating {
  margin-top: 30px;
}

.popup .content .plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.popup .content .plot img {
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0px 15px;
}

.popup .content .plot p {
  flex: 1 1 50%;
  padding: 15px;
}

.popup .content .close {
  display: inline-block;
  padding: 15px 30px;
  font-size:  18px;
  font-weight: 700;
  background: rgb(94, 94, 239);
  color: white;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
}